#brackets_live_unicorn {
    width: 614px;
    height: 124px;
}

/* SourceSansRegular */
@font-face {
    font-family: 'SourceSans';
    src: url('../../lib/font/SourceSans/SourceSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/* SourceSansLight */
@font-face {
    font-family: 'SourceSans';
    src: url('../../lib/font/SourceSans/SourceSans-Light.ttf');
    font-weight: @font-weight-light;
    font-style: normal;
}


/* SourceSansSemibold */
@font-face {
    font-family: 'SourceSans';
    src: url('../../lib/font/SourceSans/SourceSans-Semibold.ttf');
    font-weight: @font-weight-semibold;
    font-style: normal;
}

/* SourceSansItalic */
@font-face {
    font-family: 'SourceSans';
    src: url('../../lib/font/SourceSans/sourcesans-it-webfont.ttf');
    font-weight: normal;
    font-style: italic;
}


/* SourceCodePro Regular */
@font-face {
    font-family: 'SourceCodePro';
    src: url('../../lib/font/SourceCodePro/SourceCodePro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'SourceSans', 'Lato', Times, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: #eee;

	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1NTVhNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWMxZTIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-color: #2b2b2b;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%, rgba(28,30,32,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(85,90,95,1)), color-stop(100%,rgba(28,30,32,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
	margin: 0 0 20px 0;
	color: #eee;
	font-family: 'SourceSans', Impact, sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    white-space: nowrap;
}


.reveal pre {
	font-family: 'SourceCodePro', monospace;
    font-size: 0.48em;
}

.reveal code {
	font-family: 'SourceCodePro', monospace;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal section img { 
    border: 0;
    background: none;
    -webkit-box-shadow: none;
}

.reveal h1 { font-size: 2.5em; }
.reveal h2 { font-size: 1.7em;	}
.reveal h3 { font-size: 1.3em;	}
.reveal h4 { font-size: 1em;	}